@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* ############################## Global ############################# */

*,
*::before, /* ::before crée un pseudo-élément qui sera le premier enfant de l'élément cibléié */
*::after {
  /* ::after crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* box-sizing définit la façon dont la hauteur et la largeur totale d'un élément en Valeurs globales */
}

/* ############################## Html  ############################# */

html {
  scroll-behavior: smooth; /* box-sizing définit la façon dont la hauteur et la largeur totale d'un élément en Valeurs globales */
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--color-black);
  
  
}

/* ############################## body ############################# */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--main-bg-color);
  color: var(--color-black);
  position: relative;
  z-index: 1;
}

.darkmode {
  background-color: var(--color-black);
}

/* ############################## Var css ############################# */

:root{

  --main-bg-color: #fff;
  --color-black: #000;
  --color-black2: #222; 
  --color-btn: #a30707;
  --color-gray: #333;
  --color-gary2: #999;
}


/* ############################## H ############################# */

h1,
h2,
h3,
h4 {
  font-weight: 500; /* font-weight permet de définir la graisse utilisée pour le texte */
}

/* ############################## A ############################# */

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  text-decoration: underline;
}

/* ############################## Img ############################# */

img {
  max-width: 100%;
}

/* ############################## li ############################# */

li {
  list-style: none; /* list-style est une propriété raccourcie qui permet de définir list-style-type, list-style-image et list-style-position. */
}

/* ############################## Container ############################# */

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* ############################## Media Query Container ############################# */

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

/* ############################## Header ############################# */

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--color-black);
  z-index: 1; /* z-index définit le « z-order » (NdT : « ordre z » n'est pas usité) d'un élément positionné et de ses éléments fils ou de ses éléments flexibles (les enfants d'un élément avec display: flex) */
}

.header_galery {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--color-black);
  z-index: 1;
}

.header img {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 60rem;
  z-index: -1;
}

/* ############################## Media Query Header ############################# */

@media screen and (max-width: 996px) {
  .header {
    min-height: 60vh;
  }

  .header img {
    width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  .header img {
    width: 40rem;
  }
}

@media screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header img {
    width: 35rem;
  }
}

/* ############################## Header Nav ############################# */


.nav {
  padding: 1.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-btn);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
  color: var(--main-bg-color);
}

.logo h1 span {
  font-weight: bold;
  color: var(--color-btn);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--main-bg-color);
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  border-radius: 0.3rem;
  background-color: var(--color-btn);
}

.top-nav {
  display: none;
}

/* ############################## header Hamburger ############################# */

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: var(--main-bg-color);
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-btn);
    padding: 1rem 1.6rem;
  }

  .top-nav .logo span {
    color: var(--main-bg-color);
  }

  .top-nav .close {
    color: var(--main-bg-color);
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    color: var(--main-bg-color);
    font-size: 2.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    color: var(--color-black2);
    padding: 1rem 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* ############################## hero ############################# */
.hero {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
  color: var(--main-bg-color);
}

.hero h3 {
  font-weight: 400;
}

.hero h1 {
  font-size: 4.5rem;
}

.hero h4 {
  font-size: 2rem;
}
.hero h4 span {
  color: var(--color-btn);
  text-decoration: underline;
}

.hero a:link,
.hero a:visited {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border: 1px solid var(--color-btn);
  background-color: var(--color-btn);
  color: var(--main-bg-color);
  margin-top: 2rem;
}

.hero a:hover {
  background-color: transparent;
}

@media screen and (max-width: 996px) {
  .hero {
    transform: translate(10%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 567px) {
  .hero {
    top: 35%;
    transform: translate(10%, -50%);
  }

  .hero h3 {
    font-size: 1.6rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h4 {
    font-size: 1.6rem;
  }
}

/* ############################## Hero Icon ############################# */

.icons {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: var(--main-bg-color);
}

.icons span:not(:last-child) {
  margin-right: 1rem;
}

.icons span {
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.icons span:hover {
  color: var(--color-btn);
}

@media screen and (max-width: 567px) {
  .icons {
    display: none;
  }
}

/* ############################## Abaout ############################# */

.section {
  padding: 5rem 0 7rem 0;
  overflow-x: hidden;
}

.about {
  margin-top: 5rem;
}

.about-center {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem 5rem;
}

/* ############################## Abaout Title ############################# */

.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: var(--color-btn);
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.left img {
  height: 40rem;
  max-width: 35rem;
  object-fit: cover;
}

.right h1 {
  margin-bottom: 2rem;
}

.right p {
  line-height: 2;
  margin-bottom: 2rem;
  color: var(--color-gray);
}

.right h1 span {
  color: var(--color-btn);
}

/* ############################## About Btn ############################# */

a.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--color-btn);
  color: var(--main-bg-color);
  border-radius: 0.5rem;
  border: 2px solid var(--color-btn);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

a.btn:hover {
  transform: translateY(-3px);
  background-color: transparent;
  color: inherit;
}

a.btn:active {
  transform: translateY(0px);
}

@media screen and (max-width: 996px) {
  .right h1 {
    font-size: 2rem;
  }

  .right p {
    font-size: 1.5rem;
  }

  a.btn {
    padding: 0.7rem 1.8rem;
  }

  .left img {
    height: 40rem;
    max-width: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .about-center {
    grid-template-columns: 1fr;
    gap: 3rem 0rem;
  }

  .left {
    text-align: center;
  }

  .left img {
    height: 40rem;
    max-width: 90%;
  }
}

/* ############################## TimeLine ############################# */

.timeline {
  display: flex; /* organisation des block  */
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative; /* positionement en fonction du block initiale  */
}
.timeline__content-title {
  font-weight: normal; /* definition de la graisse de police  */
  font-size: 60px; /* definition de la taille de police  */
  margin: -10px 0 0 0;
  transition: 0.4s; /* effect css  */
  padding: 0 10px;
  box-sizing: border-box; /* box-sizing définit la façon dont la hauteur et la largeur totale d'un élément  */
  font-family: "Oswald", sans-serif; /* definition de la police  */
  color: var(--main-bg-color);
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: ""; /* content afin de générer le contenu d'un élément. */
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  /* configuration du responcive */
  .timeline:before {
    left: 40px;
  }
}

/* ############################## TimeLine iteam ############################# */

.timeline-item {
  padding: 40px 0;
  opacity: 0.3; /* gere l'opaciter */
  filter: blur(
    2px
  ); /* filter permet d'appliquer des filtres et d'obtenir des effets */
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(
    -80px
  ); /* transform modifie l'espace de coordonnées utilisé pour la mise en forme visuelle. */
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px; /* espacement des lette */
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5); /* couleur du text */
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end; /* align-self permet d'aligner les objets flexibles d'une ligne flexible ou d'une grille en surchargeant la valeur donnée par align-items. */
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right; /* aligner le texte */
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important; /* !important definition d'un aute priorité */
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

/* ############################## TimeLine img ############################# */

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4); /* box-shadow ajoute des ombres à la boîte d'un élément via une liste d'ombres séparées par des virgules */
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed; /* background-attachment définit si la position de l'image d'arrière-plan est fixée dans la zone d'affichagent */
  background-size: cover; /* background-size définit la taille des images d'arrière-plan pour l'élément.*/
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: var(--main-bg-color);
  font-size: 58px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

/* ############################## TimeLine footer ############################# */

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: var(--color-gary2);
  display: inline-block;
  font-family: Cardo;
}


/* ############################## Gallery ############################# */

/* ############################## Btn  ############################# */
.wrapper-gallery{

  max-width: 100%;
  background-color: var(--color-black);
}
.wrapper-gallery nav {
  display: flex;
  justify-content: center;
}
.wrapper-gallery .items {
  display: flex;
  margin-top: 50px;
  flex-flow: wrap;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span {
  padding: 7px 25px;
  text-align: center;
  font-size: 15px;
  font-weight: 500px;
  cursor: pointer;
  color: var(--main-bg-color);
  border-radius: 100px;
  border: 3px solid var(--color-btn);
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover {
  color: var(--main-bg-color);
  background: var(--color-btn);
  
}
/* ############################## Image  ############################# */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image {
  width: calc(100% / 4);
  padding: 10px;
}
.gallery .image span {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.4s ease;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/* ############################## Light box  ############################# */
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: var(--main-bg-color);
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  font-weight: 500;
  margin-left: 5px;
}
.details .icon {
  color: var(--color-btn);
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 800px;
  height: 500px;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
  display: block;
}

/* ############################## Commentaire Form ############################# */
.commentaire-form {
  max-width: 100%;
}

.commentaire-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentaire-form {
  flex: 1;
}

.commentaire-form h2 {
  color: var(--color-btn);
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.commentaire-form .text-box {
  background: var(--main-bg-color);
  color: var(--color-btn);
  width: 25%;
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.commentaire-form .text-box:first-child {
  margin-right: 15px;
}  

.note-editable{
  background: var(--main-bg-color);
  border-end-end-radius: 10px ;
  border-end-start-radius: 10px;
}

.commentaire-form textarea {
  background: var(--main-bg-color);
  color: var(--color-btn);
  border: 3px solid var(--color-btn);
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.commentaire-form .send-btn {

  background: var(--main-bg-color);
  color: var(--color-btn);
  border: 2px solid var(--color-black2);
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}

.commentaire-form .send-btn:hover {
  background: var(--color-btn);
  color: var(--main-bg-color);
}

@media screen and (max-width: 950px) {
  .contact-section {
      flex-direction: column;
  }

  .commentaire-form {
      margin: 30px 50px;
  }

  .commentaire-form h2 {
      font-size: 30px;
  }

  .commentaire-form .text-box {
      width: 100%;
  }
} 

/* ############################## Commentaire Style ############################# */


.commentaire_style{
  margin: 20px;
  padding: 10px;
  width: 50%;
  background: var(--main-bg-color);
  color: var(--color-btn);
  border: 3px solid var(--color-btn);
  border-radius: 5px;
  overflow: hidden;
  font-size: 1em;
} 

.commentaire_style input{
  float: right;
  background: var(--main-bg-color);
  color: var(--color-btn);
  border: 3px solid var(--color-btn);
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.commentaire_style input:hover {
  background: var(--color-btn);
  color: var(--main-bg-color);
}



@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper-gallery nav .items {
    max-width: 600px;
  }
  nav .items span {
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper-gallery {
    margin: 30px auto;
  }
  .wrapper-gallery nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span {
    margin: 5px;
  }
  .gallery .image {
    width: 100%;
  }
}

/* ############################## Blog ############################# */

h3 {
  font-family:  "Poppins";
  font-size: 40px;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  text-decoration: underline;
}


/* ########################### Sections ########################### */

.blog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-heading {
  justify-content: center;
  margin: 10px;
  font-size: 32px;
  font-family:"Poppins";
  border-left: 3px solid var(--color-black);
  border-right: 3px solid var(--color-black);
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
}

.section-heading:hover {
  padding: 4px 48px;
  background: var(--color-btn);
}

/* ########################### Section Source ########################### */

#section-source p {
  padding: 8px;
  text-align: center;
}

#section-source a {
  margin: 8px;
  text-align: center;
}

/* ########################### Card ########################### */

.card-image {
  transition: 0.4s;

}

.card-image img{
    width: 200px;
}

.card-image:hover {
  box-shadow: 0 10px 6px -6px var(--color-gary2);
}

.card .card-description {
  padding: 0 8px;
}

.card-meta-blogpost{
  color: var(--color-gray);
  font-size:14px;
  padding: 16px;
  font-family:'Roboto Slab', serif;
}

.card-meta-blogpost a{
  color: var(--color-gray);
}

/* ########################### Button Read more ########################### */

.btn-readmore {
  padding: 8px 24px;
  border: 3px solid var(--color-black);
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 24px;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.btn-readmore:hover {
  background: var(--color-btn);
  text-decoration: none;
  padding: 8px 64px 8px 24px;
  color: white;
}

/* ########################### Pagination ########################### */

.pagination{
  padding:8px;
  text-align:center;
  font-weight:bold;
}

.pagination a{
  border-top: 3px solid white;
  display: inline-block;
  padding:8px 16px;
  transition:0.4s;
}

.pagination a:hover{
  text-decoration: none;
  border-top:3px solid black;
}

/* ########################### Media Queries ########################### */


@media (max-width: 719px) {
  .blog {
    flex-direction: column;
  }

  .card,
  .card .card-image img {
    width: 100%;
  }
}

@media (min-width: 720px) {
  .card {
    width: 45%;
  }
  .card .card-image img {
    width: 100%;
  }
}

/* ############################## Contact ############################# */

.contact-section {
  width: 100%;
  display: flex;
  justify-content: left;
}

.contact-info {
  color: var(--main-bg-color);
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: var(--color-black);
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box {
  background: var(--color-black);
  color: var(--main-bg-color);
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: var(--color-black);
  color: var(--main-bg-color);
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn {
  float: right;
  background: var(--color-black);
  color: var(--main-bg-color);
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover {
  background: var(--color-btn);
}

@media screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    margin: 30px 50px;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form .text-box {
    width: 100%;
  }
}

.contact-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.left h2 {
  font-size: 2rem;
}

.left p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.left div {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.left div .content {
  text-align: left;
}

.left .icon {
  margin-right: 2rem;
  font-size: 2.3rem;
  color: var(--color-btn);
}

@media screen and (max-width: 768px) {
  .contact-center {
    grid-template-columns: 1fr;
  }

  .contact-center .left {
    text-align: left;
  }

  .left div .content h3 {
    font-size: 1.6rem;
  }

  .left div .content span {
    font-size: 1.5rem;
  }
}

/* ############################## Admin Dashbord ############################# */

.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: var(--color-btn);
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: var(--color-black);
}
.sidebar .nav-links li a:hover{
  background: var(--color-black);
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: var(--color-black);
  line-height: 50px;
  text-align: center;
  color: var(--color-btn);
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
  color: var(--color-btn);
  background: var(--color-black);
}

.home-content .box .cart.three{
  color: var(--color-btn);
  background: var(--color-black);
}
.home-content .box .cart.four{
  color: var(--color-btn);
  background: var(--color-black);
}
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .Admin-boxes{
  display: flex;
  justify-content: center;
}

/* left box */
.home-content .Admin-boxes .recent-Admin{
  width: 90%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .Admin-boxes .Admin-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Admin-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.Admin-boxes .Admin-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.Admin-boxes .Admin-details li{
  list-style: none;
  margin: 8px 0;
}
.Admin-boxes .Admin-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.Admin-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.Admin-boxes .box .button a{
  color: #fff;
  background: var(--color-btn);
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.Admin-boxes .box .button a:hover{
  background:  var(--color-black);
}

/* Right box */
.home-content .Admin-boxes .top-Admin{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Admin-boxes .top-Admin li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.Admin-boxes .top-Admin li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.Admin-boxes .top-Admin li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.Admin-boxes .top-Admin li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .Admin-boxes{
    flex-direction: column;
  }
  .home-content .Admin-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .Admin-boxes .top-Admin{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .Admin-boxes .Admin-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}

/* ############################## Dashborad AdminUserForm ############################# */

.Admin-details-User form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.user-form {
  display: flex;
  justify-content: center;
  width: 300px;
  border: 0;
  margin: 10px;
}

.send-btn-add{
  width: 70px;
  color: #fff;
  background: var(--color-btn);
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  align-self: flex-end;
}

/* ############################## Dashborad AdminBlog  ############################# */


.Admin-details-User form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.tableau-blog-edit img{
  width: 150px;
  height: 150px;
}

.tableau-blog-edit img::after{
  position: relative;
  left: 100px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.tableau-blog-edit form td{
  width: 100px;
  height: 100px;
}


.image-inpute{
  color: transparent;
}

.image-inpute::-webkit-file-upload-button {
  visibility: hidden;
}

.image-inpute::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.image-inpute:hover::before {
  border-color: black;
}

.image-inpute:active {
  outline: 0;
  
}
.image-inpute:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


/* ############################## Dashborad AdminUserModif ############################# */

.Admin-details-tableau{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableau{
  width: 100%;
}

.tableau_titre{
  display: flex;
  justify-content: space-around;
}

.tableau_donnee td{
  text-align: center;
}

.send-btn{
  color: #fff;
  background: var(--color-btn);
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}



.send-btn:hover{
  background:  var(--color-black);
}

.status{
  color: var(--color-black);
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

input[type=text]{
  border: 0;
}

/* ############################## Dashborad AdminUser responcive ############################# */

@media screen and (max-width: 400px) {
  .Admin-details-tableau .tableau thead{
    display: none;
  }
  
  .tableau_donnee form {
    display: flex;
    flex-direction: column;
  }

}

/* ############################## Login Form ############################# */


.wrapper-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: var(--color-black);
}
.wrapper-login{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper-login .title-text{
  display: flex;
  width: 200%;
}
.wrapper-login .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper-login .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, var(--color-black), var(--color-btn));
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper-login .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: var(--color-btn);
  box-shadow: inset 0 0 3px var(--color-black);
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: var(--color-btn);
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, var(--color-black), var(--color-black2), var(--color-btn));
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


/* ############################## Footer ############################# */

footer {
  background-color: var(--color-black);
  padding: 1.6rem 1rem;
  text-align: center;
}

footer p {
  color: var(--main-bg-color);
}

footer p span {
  color: var(--color-btn);
}